Repository kornia/kornia-rs, pull requests merged in 2025-09, with the labels that each got.

#488 Fix CI
  .github/workflows/python_test.yml
  .github/workflows/rust_lint.yml
  .github/workflows/rust_release.yml
  .github/workflows/rust_test.yml
  crates/kornia-tensor/src/tensor.rs
  devel-x86_64.Dockerfile
Labels: ci

#482 docs: Add contributor guidelines
  CONTRIBUTING.md
  README.md
Labels: documentation

#470 interpolation fix
  crates/kornia-imgproc/src/interpolation/interpolate.rs
  crates/kornia-imgproc/src/resize.rs
Labels: crate: imgproc

#469 MKL issue in candle fixed
  Cargo.toml
  crates/kornia-nn/Cargo.toml
  crates/kornia-nn/benches/bench_linear.rs
  crates/kornia-nn/src/lib.rs
  crates/kornia/Cargo.toml
Labels: crate: vlm

#471 SmolVLM example + validations
  crates/kornia-vlm/src/smolvlm/vision_model.rs
  examples/smol_vlm/README.md
  examples/smol_vlm/src/main.rs
Labels: crate: vlm
